:root {
  background: #ccc;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note {
  background: #f2e379;
  width: 200px;
  padding: 15px;
  margin-bottom: 10px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.2s;
}
.note:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.24);
}
.note .note-delete {
  position: absolute;
  right: 5px;
  top: 0;
  cursor: pointer;
}

.notes-grid {
  max-width: 620px;
}

.note-editor {
  max-width: 620px;
  text-align: center;
  position: relative;
}
.note-editor textarea {
  width: 100%;
  max-width: 100%;
  height: 150px !important;
  outline: none;
  resize: none;
  display: block;
  border: none;
  padding: 15px 15px 50px 15px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.note-editor button {
  width: 100px;
  height: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: #408e51;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  outline: none;
  cursor: pointer;
}
.note-editor button:hover {
  box-shadow: none;
}
.note-editor .jscolor {
  position: absolute;
  right: 125px;
  bottom: 15px;
  width: 100px;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.notes-app {
  width: 620px;
}
